/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-container {
    position: fixed;
    background-color: #008D38;
    height: 64px;
    width: 100vw;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-text-heading {
    font-size: 12px;
    padding-right: 90px;
}

.texts {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.navbar-text {
    padding-left: 200px;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}


.anchor {
    padding: 10px;
    text-decoration: none;
    color: white;
}


.Main {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 88vh;
    width: 100vw;
    background-color: #00AE47;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading-main {
    padding-top: 150px;
    font-size: 50px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px ;
}

.img1 {
    border-radius: 100px;
    /* box-shadow: 1px 1px 10px 1px black; */
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    height: 160px;
}


.img2 {
    padding: 0px 10px;
    height: 6px;
}