* {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-container {
    position: fixed;
    background-color: #008D38;
    height: 64px;
    width: 100vw;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-text-heading {
    font-size: 12px;
    padding-right: 90px;
}

.texts {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.navbar-text {
    padding-left: 200px;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}


.anchor {
    padding: 10px;
    text-decoration: none;
    color: white;
}


.Main {
    height: 88vh;
    width: 100%;
    background-color: #00AE47;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.heading-main {
    padding-top: 150px;
    font-size: 50px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.img1 {
    border-radius: 100px;
    /* box-shadow: 1px 1px 10px 1px black; */
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    height: 160px;
}

.img2 {
    padding: 0px 10px;
    height: 6px;
}


.Problems-container {
    margin: 150px 144px;
    /* border: 1px solid black; */
    height: 68vh;
}


.problem-heading {
    color: #00AE47;
    font-size: 48px;
}

hr {
    margin-top: 10px;
    border-radius: 100px;
    border: none;
    height: 3px;
    background-color: rgb(109, 204, 124);
    width: 100%;
}

.text {
    line-height: 40px;
    display: flex;
    padding: 100px 30px;
    font-size: 26px;
}

.problems-def {
    display: flex;
}

.problem-image {
    padding: 40px 120px 40px 70px;
    height: 410px;
}

.solution-heading {
    color: #00AE47;
    font-size: 48px;
}


.solution-container {
    /* border: 1px solid black; */
    margin: 150px 144px;
}

.solution-setting {
    /* border: 1px solid black; */
    /* padding: 0 30px; */
    /* margin: 0px 30px; */

}

.solution-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 54px 0px;
    margin: 0;
}

.img-div {
    /* border: 1px solid black; */
    width: 274px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-img {
    width: 140px;
    height: auto;
}

.img-div p {
    /* padding: 20px 0px; */
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin: 0;
    text-align: center;
    /* padding: 10px 70px; */
}

.inner-sol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solution-pics {
    /* border: 1px solid black; */
    /* padding: 10px 0; */
    margin: 0px 30px;
}


.first-images {
    display: flex;
    border: 4px solid #02a047;
    /* padding: 2px; */
    /* padding: 10px 0px; */
    margin: 20px 0px;
}

.image {
    padding: 2px;
    width: 50%;
    height: auto;
}

.business-container {
    /* border: 1px solid black; */
    margin: 150px 144px 100px;
}

.business-heading {
    color: #00AE47;
    font-size: 48px;
}

.business-para {
    font-size: 24px;
    color: #00AE47;
    padding: 50px;
    text-align: center;
}

.business-images {
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.business-img {
    /* border: 1px solid black; */
    height: auto;
    width: 200px;
}

.para {
    /* border: 1px solid black; */
    padding: 10px 0px;
}

.business-inner-images {
    /* border: 1px solid black; */
    /* margin: 20px; */
    padding: 0px 80px;
}

.align {
    width: 200px;
    /* border: 1px solid black; */
    color: #00AE47;
    font-size: 20px;
    text-align: center;
}

.business-nft {
    padding: 100px 0px 0px 0px;
}

.business-nft-para {
    font-size: 24px;
    padding: 30px 0px;
    color: #00AE47;
    text-align: center;
}

.business-nft-para span {
    font-weight: 700;
}

.business-images-block {
    /* border: 1px solid pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    justify-items: center;
}

.inner-images {
    height: auto;
    width: 200px;
}

.business-images-inner-block {
    min-height: 350px;
    width: 300px;
    margin: 0px 20px;
    padding: 0px 30px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.business-inner-para {
    word-wrap: break-word;
    font-size: 20px;
    color: #00AE47;
    margin: 10px 0px;
    width: 80%;
    text-align: center;
    /* border: 1px solid black; */
}

.business-images-inner-block h3 {
    font-size: 20px;
    /* padding: 10px; */
    color: #00AE47;
    margin: 12px 0px;
    text-align: center;
    /* border: 1px solid black; */
}

.example {
    margin: 0px 144px
}

.example-inner {
    margin: 0px 60px;
}

.example-inner h1 {
    font-size: 48px;
    color: #00AE47;
}

.example-line {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.example-line p {
    padding: 30px 0px 0px;
    color: #00AE47;
    font-size: 20px;
}

.example-line p span {
    font-weight: 700;
}

.example-line p img {
    padding: 0px 16px 0px 26px;
    height: auto;
    width: 90px;
    /* border: 1px solid black; */
}

.example-second {
    display: flex;
}